<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="../public/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="../public/css/font-awesome.min_2.css">
	<style>
		body 		{ padding-top:50px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center col-sm-6 col-sm-offset-3">
		<h2><span class="fa fa-lock"></span> Local/Facebook Authentication in Node / MySQL</h2><br>

		<p>Login or Register with:</p>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

	</div>

</div>
</body>
</html>