<!doctype html>
<html>
<head> <% include partials/template/head %> </head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
		<div class="alert alert-danger alert-block fade" id="alert"></div>

	<!-- SIGNUP FORM -->
	<form id="signup" name="signup" action="/signup" method="post">
		<div class="form-group">
			<label>First name</label>
			<input type="text" class="form-control" name="firstname" required="required">
			<label>Last name</label>
			<input type="text" class="form-control" name="lastname" required="required">
			<label>Email</label>
			<input type="email" class="form-control" name="email" required="required">
			<label>Enter you password</label>
			<input type="password" class="form-control" name="password" id="password" required="required" onkeyup="invalidLength(this);">
			<label>Confirm your password</label>
			<input type="password" class="form-control" name="password2" id="password2" required="required" onkeyup="checkPass();">
		</div>

		<button type="submit" class="btn btn-default" value="Sign up">Sign up</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>



	<section><% include ./partials/template/jsdefault.ejs %></section>
<script>
	function checkPass(){
	    var p1 = document.getElementById("password");
	    var p2 = document.getElementById("password2");
	    var el = document.getElementById("alert");
	    if( p1.value != p2.value){
	        p2.setCustomValidity("Passwords don't match!");
	        $('#alert').addClass('in'); 
	        $("#alert").html("Passwords do not match!");
			    }else{
			$("#alert").removeClass('in');
	        p2.setCustomValidity("");
	    }
	}
	

	function invalidLength(item){
		if(item.value.length < 5) {
			console.log(item.value.length);
			item.setCustomValidity("Password must be at least 5 characters!");
			$('#alert').addClass('in'); 
	        $("#alert").html("Password must be at least 5 characters!");
		}else{
			$("#alert").removeClass('in');
        	item.setCustomValidity("");
		}
	}
</script>


</body>

</html>