<!doctype html>
<html>
<head> <% include partials/template/head %> </head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- SIGNUP FORM -->
	<form id="signup" name="signup" action="/signup" method="post">
		<div class="form-group">
			<label>First name</label>
			<input type="text" class="form-control" name="firstname" required="required">
			<label>Last name</label>
			<input type="text" class="form-control" name="lastname" required="required">
			<label>Email</label>
			<input type="email" class="form-control" name="email" required="required">
			<label>Enter you password</label>
			<input type="password" class="form-control" name="password" required="required">
			<label>Retype the password</label>
			<input type="password" class="form-control" name="password2" required="required">
		</div>

		<button type="submit" class="btn btn-warning btn-lg" value="Sign up">Sign up</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>