        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Hot Sauce Media</div>
                <div class="intro-heading">Educational Expertise</div>
                <a href="#services" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>